<a href="https://colab.research.google.com/github/ildacec/Python/blob/main/Perfilamiento_de_datos_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Parte 2 - Manual (DATA PROFILING).**

#Análisis de Perfilamiento de Datos
---

Para esta práctica vamos a relaizar perfilamiento de datos con las libreías de Python: Pandas y Numpy. Utilizaremos el [dataset Titanic](https://www.kaggle.com/c/titanic) disponible en *Kaggle*.

El conjunto de datos del Titanic cuenta con múltiples variables de la tragedia:

| Variable | Definición	| Valores |
| --- | --- | --- |
| survival | 	Supervivencia  | 	0 = No, 1 = Sí |
| pclass 	| Clase del tiquete | 	1 = 1ra, 2 = 2da, 3 = 3ra
| sex 	| Sexo 	| |
| Age |	Edad en años 	| |
| sibsp |	# de hermanos / cónyuge abordo del Titanic 	| |
| parch |	# de padres / hijos abordo del Titanic 	| |
| ticket |	Número del ticket | |
| fare 	| Costo del ticket | |
| cabin |	Número de la cabina 	| |
| embarked |	Puerto de embarque |	C = Cherbourg, Q = Queenstown, S = Southampton |

Ejecute la siguiente celda para importar *pandas* y *numpy*.

In [20]:
# Importar Librerías
import pandas as pd
import numpy as np
import plotly.express as px

In [21]:
#TEST_CELL
!python --version
print('Pandas', pd.__version__)
print('Numpy', pd.__version__)

Python 3.10.12
Pandas 1.5.3
Numpy 1.5.3

## **0.  Leer el archivo de datos**
---
> **IMPORTANTE:**

  1. Por favor descargue el archivo con el conjunto de datos desde el siguiente enlace: **[titanic.csv](https://raw.githubusercontent.com/JuezUN/datasets/master/titanic.csv)**.

  2. En el enlace, haga clic secundario y seleccione la opción **"Guardar como..."**.

  3. Cargue este archivo en su sistema de archivos de **Google Colaboratory**. Para hacer esto:

    * Haga clic donde aparece el icono del directorio en la parte izquierda de la ventana en *Google Colaboratory* (resaltado en azul en la siguiente imagen con el número 1).
    * Después, haga clic en el icono **"Subir"** (resaltado en azul en la siguiente imagen con el número 2).
    * Seleccione el archivo **`titanic.csv`** que previamente descargó y haga clic en **"Aceptar"**.

4. Ejecute la siguiente celda para cargar el conjunto de datos dentro del DataFrame de *pandas* llamado **`full_df`**:

In [22]:
### EJECUTAR ESTA CELDA SIN MODIFICARLA. SI FALLA, DEBE SEGUIR EL PROCEDIMIENTO DESCRITO ANTES.
full_df = pd.read_csv('titanic.csv')

## **1.  Conocimiendo el Dataset TITANIC**
---

El conjunto de datos *Titanic* cuenta con varias filas y columnas con valores faltantes. Vamos a conocer de que tamaño es nuestro dataset

### **1.1.  Método info()**
* **`[df|series].info()`:** El método **`.info()`** se ajusta perfectamente a esta descripción pues permite generar un vistazo inicial a la información general del conjunto de datos de interés. Entre esta información se incluyen:

  *  Nombre de las columnas.
  *  Tipos de dato (**`dtypes`**) por columna.
  *  Número de columnas y de filas.
  *  Número de valores faltantes por columna.
  *  Uso de memoria.

In [ ]:
full_df.info()

### **1.2.  Función shape()**

In [23]:
# Comprobamos la cantidad de columnas y filas.
full_df.shape

(891, 12)

### **1.3.  Función head()**

* **`[df|series].head(n)`:** Cuando se realiza una exploración inicial, no es conveniente imprimir en pantalla todos los registros de un conjunto de datos. Para esto se dispone de las funciones **`head(n)`** y **`tail(n)`**.

 **`head(n)`** retorna un subconjunto de los primeros  $n$ registros de un objeto *DataFrame* o *Series*. Por defecto, si no se pasa el argumento **`n`** se imprimen los primeros/últimos $5$ registros.

In [24]:
# Validemos los datos que contiene nuestro dataset
# si queremos ver mas registros solo debemos agregar la cantidad de los mismos como parámetros entre paréntesis
full_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### **1.4.  Función tail()**

* **`[df|series].tail(n)`:**  Utilizado para cuando se realiza una exploración inicial conocer los últimos $n$ registros de un objeto *DataFrame* o *Series*. Por defecto, si no se pasa el argumento **`n`** se imprimen los primeros/últimos $5$ registros.

In [25]:
# Si queremos validar los últimos registros de nuestro dataset
# si queremos ver mas registros solo debemos agregar la cantidad de los mismos como parámetros entre paréntesis
full_df.tail(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### **1.5.  Función sample()**
* **`[df|series].sample(n)`:** Similar a los métodos **`head`** y **`tail`**, el método **`sample(n)`** genera un subconjunto de entradas aleatorias de los datos de tamaño **n**.

In [26]:
# Si ejecutamos esta celda varias veces, cada vez obtendremos una muestra diferente
full_df.sample(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
451,452,0,3,"Hagland, Mr. Ingvald Olai Olsen",male,NaN,1,0,65303,19.9667,NaN,S
265,266,0,2,"Reeves, Mr. David",male,36.0,0,0,C.A. 17248,10.5000,NaN,S
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
491,492,0,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,NaN,S
728,729,0,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.0,1,0,236853,26.0000,NaN,S
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C
375,376,1,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,1,0,PC 17604,82.1708,NaN,C
169,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.4958,NaN,S

## **2.  Validaciones Estadísticas**
---

### **2.1.  Método decribe**
* **`[df|series].describe()`:** El método **`.describe()`** realiza un resumen de las estadísticas descriptivas más comunes por columna. La **estadística descriptiva** se verá en la siguiente sección. Estos son:

  *  Conteo de valores no nulos. **`count`**
  *  Media aritmética. **`mean`**
  *  Desviación estándar. **`std`**
  *  Máximo y mínimo. **`max`** | **`min`**
  *  Cuartiles 1, 2 y 3. **`25%`** | **`50%`** | **`75%`**

In [27]:
full_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### **2.2.  Método unique() / nunique() / values_counts**

* **`[df|series].unique()` | `[df|series].nunique()` | `[df|series].value_counts()`:** Cuando se trata con variables categóricas, es necesario encontrar información acerca de las categorías posibles que puede tomar una variable. Para esto *pandas* dispone de métodos para identificar un arreglo con estas categorías (**`unique`**), identificar el número total de categorías posibles (**`nunique`**) o evaluar el conteo de valores por cada categoría (**`value_counts`**).

In [ ]:
full_df['Sex'].unique()

In [ ]:
full_df['Sex'].nunique()

In [ ]:
full_df['Sex'].value_counts()

In [ ]:
full_df['Age'].value_counts()

### **2.3 Medidas de tendencia central**
---

Estas medidas representan características generales y centrales en los datos. Las medidas de tendencia central más importantes, y aquellas que son descritas en conjunto usualmente son:
* **Media aritmética o promedio.** Valor medio del conjunto, resultado de la suma de todos los valores dividido entre la cantidad total. No está definido en variables ordinales.
> **`.mean()`**
* **Moda.** Elemento o elementos que más se repiten en el conjunto.
> **`.mode()`**
* **Mediana.** Elemento central en el conjunto ordenado.
>**`.median()`**

In [ ]:
full_df['Fare'].mean()

In [ ]:
full_df['Fare'].median() #Mediana

In [ ]:
full_df['Fare'].mode()   #Moda. Pueden ser varios valores.

### **2.4. Cuantiles**
---
 Los cuantiles son medidas de posición no central que permiten ilustrar la división de una distribución entre un número de grupos equidistantes de muestras. Los cuartiles, los deciles y los percentiles son los cuantiles más comunes. Otra medida importante es el rango intercuartílico, que es la diferencia entre los cuartiles $1$ y $3$, es decir, el área central que contiene el $50\%$ de los datos.

  Es posible calcularlos con la función:

  > **`.quantile(q)`**

  El argumento **`q`** es la posición, entre 0 y 1, del cuantil o cuantiles a calcular.

In [ ]:
#Equivale a la mediana
full_df['Fare'].quantile(0.5)

In [ ]:
full_df['Fare'].quantile([0,0.25, 0.5, 0.75,1]) # Calcular varios cuantiles en un solo llamado.

In [ ]:
#df = px.data.tips()
df = full_df
fig = px.box(df, y="Fare")
fig.show()

In [ ]:
costo = full_df.sort_values('Fare')
costo['Fare'].tail(30)

In [ ]:
#df = px.data.tips()
df = full_df
fig = px.box(df, x="Sex", y="Fare", points="all")
fig.show()

## **3.  Validaciones Estadísticas**
---

Todas las funciones descritas están disponibles tanto para objetos DataFrame, Series y GroupBy. Son muy útiles para realizar operaciones de agregación en objetos agrupados.

In [ ]:
full_df.groupby('Sex').describe()

In [ ]:
full_df.groupby('Sex').count() #Este argumento permite contar el número de apariciones de cada valor, similar a value_counts.

In [ ]:
#TEST_CELL
full_df.count()

In [ ]:
pd.crosstab(full_df['Age'], full_df['Sex'], margins = True)

### **3.1  Eliminación de columnas con valores faltantes**

In [ ]:
# VARIABLE CALIFICADA non_null_cols_df

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
non_null_cols_df = pd.DataFrame(full_df.dropna(axis = 1))
### FIN DEL CÓDIGO ###

In [ ]:
#TEST_CELL
non_null_cols_df.count()